@import 'tailwindcss';
@import '@rark-ui/themes/razer/index.css';

@config '../tailwind.config.ts';

@theme {
  
}

body {
  margin: 0;
  color: #fff;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  background-color: var(--color-h00)
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
