@layer components {
  .rui-date-picker-content {
    @apply bg-h1a text-hcc border-h11 shadow-rui-popper;
  }

  .rui-date-picker-table-body-cell {
    &:has([data-selected]),
    &:has([data-selected][data-outside-range]) {
      @apply bg-rz-green text-h00;
    }

    &:has([data-outside-range]) {
      @apply bg-h47;
    }
  }
}